{% extends "layout.html" %}

{% block title %}
    Book Info
{% endblock %}

{% block content %}
   <div class="col">
    <h1>{{ {{ book.title }} }}</h1>
    <h4>Written by: {{ {{ book.author }} }}</h4>
    <h4>Publication Year: {{{{ book.year }}}}</h4>
    <h4>ISBN: {{{{ book.isbn }}}}</h4>
  </div>

  <div class="col">
    <h4>Ratings: {{review_statistics['work_ratings_count']}}</h4>
    <h4>Average rating: {{review_statistics['average_rating']}}</h4>
    <h4><a href="https://www.goodreads.com/search?q={{bookinfo[0]['title']}}">Goodreads page</a>
</h4>
  </div>

  <h4>Write a review</h4>
  {% if reviewed == False %}

  <form method="POST" class="form" action="{{url_for('book', isbn=book.isbn)}}">
    <div class="form-group">
      <select id="rating" name="rating" class="form-control" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <textarea name="review" class="textarea" placeholder="Comment Here"></textarea>
      </div>
      <button class="btn" type="button" name="button">Post</button>
    </div>
  </form>
  {% else %}
        <h5>You've already reviewed this book.</h5>
        <hr>
        <h2 style="text-align: center; margin: auto;">You rated this book <span class="badge badge-pill badge-warning">{{ rating }}/5</span></h2>
      {% endif %}

  <div id="userReviews">
    {% if review_count > 0 %}
    <div class="list-group">
      <div class="">
      <h5>{{ review_count }} users reviewed this book, with an average rating of {{ average_score }}/5</h5>
    </div>
    {% else %}
        <hr>
        <h6 class="text-muted" style="text-align: center;">No reviews for this book yet.</h6>
        {% endif %}
    <p>{{review['review']}}</p>
    <p>{{review['rating']}}</p>
    </div>
    {% endfor %}
    {% else %}
     <div>
       <p>No reviews.</p>
     </div>
  </div>

  {% for user_review in reviews %}
          <ul class="list-unstyled">
            <li class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1">
                  {{ user_review.username }} <span class="badge badge-pill badge-warning">{{ user_review.review_rating }}/5</span>
                </h5>
                {{ user_review.review_comment }}
              </div>
            </li>
          </ul>
          <hr>
          {% endfor %}


{% endblock %}
