{% extends "layout.html" %}

{% block title %}
    Book Info
{% endblock %}

{% block content %}
   <div class="">
    <h1>{{bookinfo[0]['title']}}</h1>
    <h4>Written by: {{bookinfo[0]['author']}}</h4>
    <h4>Publication Year: {{bookinfo[0]['year']}}</h4>
    <h4>ISBN: {{bookinfo[0]['isbn']}}</h4>
  </div>

  <div class="">
    <h4>Ratings: {{bookinfo[1]['work_ratings_count']}}</h4>
    <h4>Average rating: {{bookinfo[1]['average_rating']}}</h4>
    <h4><a href="https://www.goodreads.com/search?q={{bookinfo[0]['title']}}">Goodreads page</a>
</h4>
  </div>

  <h4>Write a review</h4>

  <form method="POST" class="form">
    <div class="form-group">
      <select id="rating" name="rating" class="form-control" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <textarea name="review" class="textarea" placeholder="Comment Here"></textarea>
      </div>
      <button class="btn" type="button" name="button">Post</button>
    </div>
  </form>


  <div id="userReviews">
    {% for review in reviews %}
    <div class="list-group">
      <div class="">
      <h5>{{review['username']}}</h5>
      <p>{{review['time']}}</p>
    </div>
    <p>{{review['review']}}</p>
    <p>{{review['rating']}}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}
