{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <h1>Setup Your Account</h1>
    <form action="/signup" method="post">
    <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Username"><br>
        <input class="form-control" type="password" name="password" placeholder="Password"><br>
        <input class="form-control" name="confirm" placeholder="confirm"><br>
    </div>
        <button class="btn btn-primary" type="submit">signup</button>
      </form>
      <a href="login.html">Already a member? Login!</a>
{% endblock %}
